<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
</head>
<body>
    <form action="{% url 'cadastro' %}" method="POST" >
        {% csrf_token %}
        <p>
            <input type="text" name="username" placeholder="Username">
        </p>
        <p>
            <input type="text" name="email" placeholder="E-mail">
        </p>
        <p>
            <input type="password" name="password"  >
        </p>
        <p>
            <input type="submit" value="cadastrar" >
        </p>
    </form>
</body>
</html>